html {
  font-family: Inter;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style:normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-gray-white);
  width:1024px;
  height:768px;
  background-image: "/amusing snoopy jellyfish-html (1)/public/screenshot%202023-08-01%20130542_cleanup-1500w.png";

}

:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.bet-money {
  top: 677px;
  left: 16px;
  width: 58px;
  height: 85px;
  display: flex;
  position: absolute;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: transparent;
}
.label-num {
  top: 196px;
  left: 354px;
  z-index: 100;
  position: absolute;
}
.bet-num {
  top: 120px;
  left: 332px;
  width: 85px;
  height: 110px;
  display: flex;
  position: absolute;
  padding-top: 0px;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: transparent;
}
.num-label {
  top: 468px;
  left: 353px;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.draw {
  font-size: 45px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.draw2 {
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.button1 {
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.Content {
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.any {
  font-size: 30px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.draw1 {
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
